.tag{:style => "background-color: ##{tag.color}"}
	.info
		%a.follow.follow-all-link{:href => "##{tag.users.map(&:sc_id).join(',')}", :title => "follow all"}
			%span.first-plus  +
			%span.second-plus +
		%a.image-badge{:href => 'forss', :style => "background-image: url(#{tag.image_url})"}= tag.name
		%h2= tag.name
		
	%ul.user-list-small
		= render :partial => 'tags/user', :collection => tag.users